@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

.auto-select,
.auto-select * {
  user-select: auto;
}
